<a href="https://colab.research.google.com/github/FarihaNusrat460/CSE_309/blob/master/practice_code_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loop

#0-9 print

In [ ]:
''' for(int i=0;i<10;i++){
  s.o.println(i);
}'''

''' 
int i=0;
while(i<10){
print(i);
i++;

}''''

In [2]:
i=0
while i<10:
    print(i)
    i=i+1
print("end programe")

0
1
2
3
4
5
6
7
8
9
end programe

#print even num from 1 to 20

In [3]:
i=2
while i<=20:
    print(i)
    i=i+2

2
4
6
8
10
12
14
16
18
20

#print odd num from 1 to 20

In [ ]:
i=1
while i<=20:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

#1+2+....+10=?

In [36]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print(sum)

55

In [35]:
'''for'''
sum=0
for i in range(1,11,1):
  sum=sum+i
print(sum)

55

#2+4+6+....+10=?

In [ ]:
i=2
sum=0

while i<=10:
    sum=sum+i
    i=i+2
print(sum)

30

In [37]:
'''for'''
sum=0

for i in range(2,11,2):
  sum=sum+i
print(sum)

30

#1+2+...+10=55

In [ ]:
i=1
sum=0

while i<11:
  if i==10:
    print(i,'=',end=' ')
  else:
    print(i, '+', end=' ')
  sum=sum+i 
  i=i+1
print(sum)

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

#1+2+.....+10=?

In [ ]:
i=1

while i<11:
  if i==10:
    print(i,'=',end=' ')
  else:
    print(i,'+', end = ' ')
  i=i+1
print('?')

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = ?

start=10,
end=20,
10+11+...+20=?

In [ ]:
start=int(input('start: '))
end_i=int(input('end: '))

i=start
sum=0

while i<end_i+1:
   if i==end_i:
     print(i,'=',end=' ')
   else:
     print(i,'+',end=' ')
   sum= sum + i
   i=i+1
print(sum)

start: 10
end: 20
10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 = 165



```
input:
start:20
finish:40
output:
20+22+24+....+40=?

```

In [ ]:
start=int(input('start: '))
finish=int(input('finish: '))

i=start
sum=0

while i<finish+1:
   if i==finish:
     print(i,'=',end=' ')
   else:
     print(i,'+',end=' ')
   sum=sum+i
   i=i+2
print(sum)

start: 10
finish: 21
10 + 12 + 14 + 16 + 18 + 20 + 90



```
sum of nth term
```

In [4]:
n=int(input("enter the num: "))

i=1
sum=0

while i<=n:
  sum=sum+i
  i=i+1
print(sum)

enter the num: 10
55

#1^2+2^2+.....+n^2

In [6]:
n=int(input())
i=1
sum=0

while i<=n:
  sum=sum+i*i
  i=i+1
print(sum)

5
55

In [39]:
'''for'''
n=int(input())
sum=0

for i in range(1,n+1,1):
    sum=sum+i*i
print(sum)

5
55

#1^3+2^3+....+n^3

In [7]:
n=int(input())
i=1
sum=0

while i<=n:
  sum=sum+i*i*i
  i=i+1
print(sum)

3
36

# n shongkhok shongkhar gun

In [11]:
n=int(input())
i=1
sum=1
while i<=n:
  sum=sum*i
  i=i+1
print(sum)

3
6

#qus1=1+3+5+7+....+n=?

In [16]:
n=int(input())
i=1
sum=0

while i<n+1:
  sum=sum+i
  i=i+2
print(sum)

9
25

#rang

In [24]:
list=[1,2,3,4,5,6,7,8]
list

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
l = list(range(1,9,1))
l

TypeError: ignored

#for

In [28]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
l=[2,6,7,"q","j",4]

for i in l:
  print(i)

2
6
7
q
j
4

In [32]:
l=[2,6,7,"q","j",4]
for i in (range(2,5,1)):
  print(l[i])

7
q
j

In [41]:
l=[1,2,3,4,5]

l=l+[6]
l

[1, 2, 3, 4, 5, 6]

#dictionary

In [47]:
s1= {
    "name":"fari",
    "id":123,
     "dept":"cse"
}

s2={
     "name":"nusrat",
    "id":12,
     "dept":"cse"
}

In [48]:
g=[s1,s2]
g

[{'dept': 'cse', 'id': 123, 'name': 'fari'},
 {'dept': 'cse', 'id': 12, 'name': 'nusrat'}]

In [49]:
g={
    123:s1,
    12:s2
}

In [51]:
g

{12: {'dept': 'cse', 'id': 12, 'name': 'nusrat'},
 123: {'dept': 'cse', 'id': 123, 'name': 'fari'}}

In [56]:
dic= {
     123:
       { "name":"fari",
        "id":123,
        "dept":"cse"
       },

    12:
      {
         "name":"nusrat",
        "id":12,
         "dept":"cse"
      }
  }

for i in dic:
  print(dic[i]["name"])

fari
nusrat

{'dept': 'cse', 'id': 12, 'name': 'nusrat'}